<div class="container" style="margin-top: 50px">
    <h1>등록 페이지<br><hr></h1>
    <form action="write" method="POST">
      <div class="form-group">
        <label> 행사명</label>
        <input name ="title" type="text" class="form-control" placeholder="행사명을 입력하세요">
      </div>
      <br>

      <div class="form-group">
          <label for="exampleSelect1">행사종류</label>
          <select class="form-control" id="exampleSelect1" name="event_type" type="text">
            <option>공연</option>
            <option>강연</option>
            <option>주점 및 먹거리</option>
            <option>캠페인</option>
            <option>이벤트</option>
          </select>
        </div>
        <br>

        <div class="form-group">
        <label> 행사내용</label>
        <input name ="event_content" type="text" class="form-control" placeholder="행사내용을 입력하세요.">
      </div>
      <br>

      <div class="form-group">
        <label> 날짜&행사시간</label>
        <p>시작</p><input id="someDate" type="date" name="event_date_S">
        <input id="someDateTime" type="time" placeholder="시작시간을 입력하세요." name="event_time_S">
        <p>마감</p><input id="someDate" type="date" name="event_date_F">
        <input id="someDateTime" type="time" placeholder="마감시간을 입력하세요." name="event_time_F">
      </div>
      <br>

      <div class="form-group">
        <label> 주최기관</label>
        <input name ="event_manage" type="text" class="form-control" placeholder="주최기관을 입력하세요.">
      </div>
      <br>

      <div class="form-group">
          <label for="exampleSelect1">장소</label>
          <select class="form-control" id="exampleSelect1" name="X_Y">
            <option value = "option1">학생회관</option>
            <option value = "option2">호연학사 앞</option>
            <option value = "option3">중앙광장</option>
            <option value = "option4">녹지운동장</option>
            <option value = "option5">석원경상관</option>
            <option value = "option6">제1과기대</option>
            <option value = "option7">제2과기대</option>
            <option value = "option8">농심관</option>
            <option value = "option9">인문관</option>
            <option value = "option10">국제스포츠</option>
            <option value = "option11">중이온가속기</option>
            <option value = "option12">진리관앞</option>
          </select>
        </div>
        <br>

      <div class="form-group">
        <label> 문의연락처</label>
        <input name ="event_call" type="text" class="form-control" placeholder="연락처를 입력하세요.">
      </div>
      <br>

      <div class="form-group">
        <label> 이미지 경로</label>
        <input name ="event_img" type="text" class="form-control" placeholder="이미지 주소 URL을 입력하세요.">
      </div>
      <br>

        <button style="margin-top: 20px; float: left" type="reset" class="btn btn-primary">리셋하기</button>
      <button style="margin-top: 20px; float: right" type="submit" class="btn btn-primary">등록하기</button>
    </form>
</div>
<br><br><br><br><br><br>
